{
  "userId": "{{ username }}",
  "firstName": "{{ username }}",
  "lastName": "{{ username }}",
  "emailAddress": "{{ username }}",
  "status": "active",
  "readOnly": true,
  "roles": [
    "nx-admin"
  ]
}