{
  "name": "{{ repo_name }}",
  "online": true,
  "storage": {
    "blobStoreName": "{{ blob_storage }}",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": {{ member_repo }}
  }
}
